kate/kate.cxx
kate/kate.h

**/sched*
**/temp_gccflags.c
**/*session.xml
**/*.sl73_gcc485
*.diff
**/out/*
**/err/*
**/fastjet/*
**/yoc.c
**/fred.c
kate/tree.h

yocto/p
yocto/s*
yocto/ana.c
yocto/maker.c
yocto/maker.h

**/*.maxTrJe
**/*.root
**/*.log
hijing/junk
hijing/run
**/k_int
**/out_erred
**/err_erred

phys_ssmd_comp
tong
pico
zepto/jm
zepto/arch
zepto/FastJetMaker
zepto/run_c/arch
zepto/y.c
zepto/y.cxx
zepto/y.h
zepto/z.h
zepto/z.cxx
zepto/s.h
zepto/s.cxx
fred/fred.cxx
fred/fred.h
hijing/hgram/anna.c
hijing/hgram/anna/anna.c
hijing/hgramWE/last
hijing/hgram/errs
hijing/hgram/out
zepto/jm.cxx
