sched*
temp_gccflags.c
*session.xml
.sl73_gcc485
kate.cxx
kate.h
*.diff
out/*
err/*
j.h
k.h
fastjet/*
fastjet
k.cxx
yoc.c
fred.c
jet_tree.h
*.consign
**/.consign
**/*.root
**/*.log
StRoot/JetTrees/.consign
h.sh
r_single.sh
runTest.sh
test.debug
tree.h
